[% META title = 'First Round' -%]

<form method="post" action="[% c.uri_for('first') %]">
<table>
  <tr><td>Tournament name:</td><td><input type="text" name="tournament"></td></tr>
  <tr><td>Players</tr>
  <tr><td>Id:</td><td><input type="text" name="id"></td></tr>
  <tr><td>Name:</td><td><input type="text" name="player"></td></tr>
  <tr><td>Rating:</td><td><input type="text" name="rating"></td></tr>
	  </table>
	  <input type="submit" name="Submit" value="Submit">
	  </form>
