[% META title = 'Rounds' -%]

<H1>[% tournament %] Tournament</H1>

<form method="post" action="[% c.uri_for('rounds') %]">
<input type="submit" name="Submit" value="Record Number of Rounds">
<br>
Number of rounds that will be played:
<select name="rounds" size="[% rounds %]">

[% FOREACH n IN [1 .. rounds] %]
<OPTION value="[% n %]" [% IF n == selected %]selected[% END %]>[% n %]</OPTION>
[% END %]

</select>
<input type="submit" name="Submit" value="Record Number of Rounds">
</form>
