[% META title = 'Rounds' -%]
[% rounds = [ 1 .. 20 ] %]

<H1>[% tournament %] Tournament</H1>

Number of rounds that will be played:
<form method="post" action="[% c.uri_for('rounds') %]">
<select name="rounds" size="[% rounds.size %]">

[% FOREACH n IN rounds %]
<OPTION value="[% n %]">[% n %]</OPTION>
[% END %]

</select>
<input type="submit" name="Submit" value="Pair Round 1">
</form>
